In [1]:
import networkx as nx
import pandas as pd

from src.crimp import crimp

In [2]:
G = nx.Graph()

# Sample graph: one triangle + one chordless square connected together
edges = [
    (1,2),(2,3),(3,1),       # triangle
    (3,4),(4,5),(5,6),(6,3), # 4-cycle: 3-4-5-6-3
    (6,7),(7,8)              # tree-ish tail
]
G.add_edges_from(edges)

res = crimp(G)

In [3]:
df = pd.DataFrame({
    "node": list(G.nodes()),
    "deg": [G.degree(n) for n in G.nodes()],
    "c_ii": [res.c_ii.get(n,0) for n in G.nodes()],
    "k_t": [res.k_t.get(n,0) for n in G.nodes()],
    "r_imp": [res.r_imp.get(n,0.0) for n in G.nodes()],
}).sort_values("r_imp", ascending=False)

df.reset_index(drop=True)

   node  deg  c_ii  k_t  r_imp
0     3    4     2    0    5.0
1     6    3     1    1    3.5
2     5    2     1    0    3.0
3     1    2     1    0    2.5
4     4    2     1    0    2.5
5     2    2     1    0    2.5
6     7    2     0    2    2.0
7     8    1     0    1    1.0

In [4]:
G = nx.Graph()

# Fig.1 edges (14-node toy network)
edges = [
    (9,10), (9,11), (9,5),

    (5,2), (5,1),

    (1,2), (1,3), (2,3), (1,4), (2,4), (3,4),

    (4,12), (4,13), (4,14), (12,13),

    (3,8), (8,7), (7,6), (6,3)
]

G.add_edges_from(edges)

res = crimp(G)

In [5]:
expected = {
    1: 3.75, 2: 3.75, 3: 4.5, 4: 5.5, 5: 2.5, 6: 2.25, 7: 3.0,
    8: 2.25, 9: 3.0, 10: 1.0, 11: 1.0, 12: 2.25, 13: 2.25, 14: 1.0
}

df = pd.DataFrame({
    "node": sorted(G.nodes()),
    "r_imp_calc": [res.r_imp.get(n, 0.0) for n in sorted(G.nodes())],
    "r_imp_expected": [expected[n] for n in sorted(G.nodes())],
})
df["abs_err"] = (df["r_imp_calc"] - df["r_imp_expected"]).abs()
df

    node  r_imp_calc  r_imp_expected  abs_err
0      1        3.75            3.75      0.0
1      2        3.75            3.75      0.0
2      3        4.50            4.50      0.0
3      4        5.50            5.50      0.0
4      5        2.50            2.50      0.0
5      6        2.25            2.25      0.0
6      7        3.00            3.00      0.0
7      8        2.25            2.25      0.0
8      9        3.00            3.00      0.0
9     10        1.00            1.00      0.0
10    11        1.00            1.00      0.0
11    12        2.25            2.25      0.0
12    13        2.25            2.25      0.0
13    14        1.00            1.00      0.0