In [1]:
import networkx as nx
import pandas as pd

from src.crimp import crimp

In [2]:
G = nx.Graph()

# Sample graph: one triangle + one chordless square connected together
edges = [
    (1,2),(2,3),(3,1),       # triangle
    (3,4),(4,5),(5,6),(6,3), # 4-cycle: 3-4-5-6-3
    (6,7),(7,8)              # tree-ish tail
]
G.add_edges_from(edges)

res = crimp(G)

In [3]:
df = pd.DataFrame({
    "node": list(G.nodes()),
    "deg": [G.degree(n) for n in G.nodes()],
    "c_ii": [res.c_ii.get(n,0) for n in G.nodes()],
    "k_t": [res.k_t.get(n,0) for n in G.nodes()],
    "r_imp": [res.r_imp.get(n,0.0) for n in G.nodes()],
}).sort_values("r_imp", ascending=False)

df.reset_index(drop=True)

   node  deg  c_ii  k_t  r_imp
0     3    4     2    0    5.0
1     6    3     1    1    3.5
2     5    2     1    0    3.0
3     1    2     1    0    2.5
4     4    2     1    0    2.5
5     2    2     1    0    2.5
6     7    2     0    2    2.0
7     8    1     0    1    1.0